
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}


.custom-select {
    display: inline-block;
    width: 200px;
}

#btnMenu {
    margin-top:15px;
    margin-left: 150px;
    position: center;
}