<mat-toolbar>
    <button id="clsbtn" class="btn btn-danger" mat-stroked-button (click)="closeReservationPage()" tabindex="-1">X</button>
</mat-toolbar>

<h3 class="mt-2">Rezervasyon Ekle</h3>
<form *ngIf="rezForm" [formGroup]="rezForm" class="form-group">
    <div class="container mt-4">
        <div class="row">
            <input type="text" class="form-control mt-2" formControlName="hotelName" placeholder="Hotel Adı">
            <input type="text" class="form-control mt-2" formControlName="price" placeholder="Fiyat">
            <input type="text" class="form-control mt-2" formControlName="checkInDate" placeholder="Giriş Tarihi">
            <input type="text" class="form-control mt-2" formControlName="payDate" placeholder="Çıkış Tarihi">
            <input type="text" class="form-control mt-2" formControlName="duration" placeholder="Süre">
            <input type="text" class="form-control mt-2" formControlName="roomName" placeholder="Oda Tipi">
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <ng-container formArrayName="adultArray">
                <div *ngFor="let item of adultArr.controls; let i = index;" class="col-md-6 ">
                    <ng-container [formGroupName]="i">
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Yetişkin</span>
                            </div>
                            <input class="form-control" formControlName="nameSurname" placeholder="Adı Soyadı" type="text" />
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend ">
                                <span class="input-group-text">Yetişkin</span>
                            </div>
                            <input class="form-control" formControlName="birthDate" placeholder="Doğum Tarihi" type="text" />
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <ng-container formArrayName="childArray">
                <div *ngFor="let item of childArr.controls; let i = index;" class="col-md-6">
                    <ng-container [formGroupName]="i">
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Çocuk</span>
                            </div>
                            <input class="form-control" formControlName="nameSurname" placeholder="Adı Soyadı" type="text" />
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Çocuk</span>
                            </div>
                            <input class="form-control" formControlName="birthDate" placeholder="Doğum Tarihi" type="text" />
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
        <div>
            <button type="submit" class="btn btn-success mt-2" (click)="add()">İnsert</button>
        </div>
    </div>
</form>

